<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Gerenciador de Tarefas</title>
  <link rel="stylesheet" href="register.component.css">
</head>
<body>
  <div class="login-container">
    <h2>Cadastre-se</h2>
    <form class="login-form" (ngSubmit)="registerUser()" #registerForm="ngForm">
      <div class="form-group">
        <label for="username">Usuário</label>
        <input type="text" id="username" [(ngModel)]="user.nome" name="nome" required>
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" id="email" [(ngModel)]="user.email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" [(ngModel)]="user.senha" name="senha" required>
      </div>
      <div class="form-group">
        <label for="confirmpassword">Confirmar Senha</label>
        <input type="password" id="confirmpassword" [(ngModel)]="user.confirmasenha" name="confirmasenha" required>
      </div>
      <button type="submit" class="btn-login">Registrar</button>
      <p style="margin-top: 5px;text-align: center;justify-content:center;margin-left:10px;"
         *ngIf="responseMessage">{{ responseMessage }}</p>
      <p class="register-link">Já tem uma conta? <a href="login">Clique Aqui</a></p>
    </form>
  </div>
</body>
</html>
