<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Compras</title>
  <link rel="stylesheet" href="home.component.css">
</head>
<body>

  <div class="container">
    <h1 style="text-align: left">
      Lista de Compras do Supermercado
      <input type="text" style="font-size: 12px; margin-left: 29.5%; padding: 10px;" [(ngModel)]="userName" placeholder="Usuário" />
    </h1>

    <div class="add-item-container">
      <input type="text" style="margin-right: 10px" [(ngModel)]="newItem" placeholder="Adicione um novo item" />
      <input type="number" style="margin-right: 10px" [(ngModel)]="quantity" placeholder="Quantidade" />
      <button (click)="addItem()">Adicionar Item</button>
    </div>

    <ul id="shopping-list">
      <li *ngFor="let item of shoppingList; let i = index">
        <span class="item-name">{{ item.name }}</span>
        <span class="item-quantity">{{ item.quantity }}</span>
        <button class="remove-btn" (click)="removeItem(i)">Remover</button>
      </li>
    </ul>
  </div>

</body>
</html>
